<div class="main-content">
  <section class="common-title">
    <span class="pull-left">讨论中心</span>
  </section>

  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row serach-content">
        <div class="col-sm-1 text-right serach-name">
          <span>系别：</span>
        </div>
        <div class="col-sm-11">
          <ul class="nav nav-pills serach-course">
            <li param="" class="active"><a href="#">全部</a></li>
            <% @academies.each_with_index do |academy, index| %>
              <li param="<%= academy.id %>"><%= link_to academy.name, "#" %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <ul class="nav nav-pills discuss-menu">
    <li class="active"><a href="#">最新话题</a></li>
    <li><a href="#">热门话题</a></li>
    <li><a href="#">等待回复</a></li>
    <li id="newCreateBtn" class="navbar-right create-discuss">
      <a href="javascript:void(0);"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>新建话题</a>
    </li>
  </ul>

  <div class="container discuss-list">
    <% 10.times do |i| %>
      <div class="row">
        <div class="col-sm-1 text-center">
          <%= image_tag "missing/u_145x145/missing.png", class: "img-circle", width: "100%" %>
          <p class="center-block grey-font">斯塔克</p>
        </div>
        <div class="col-sm-9">
          <h5>
            <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
            <%= link_to "为什么我的代码不能拍照", "#" %>
          </h5>
          <p class="discuss-content">
            <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
            <% if i%2 == 0 %>
                <span class="text-muted">嗯 ~ ~，这个提问大家都在考虑....</span>
            <% else %>
              <span class="text-muted">[最新回答]</span>
                <span>乌尔奇奥拉:<span>
                <span class="text-muted">
                  最新回答最新回答最新回答最新回答最新回答最新回答最新回答最新回答最新回答最新回答最新回答最新回答最新回答最新回答最新回答最新回答最新回答最新回答最新回答最新回答最新回答最新回答最新回答
                </span>
            <% end %>
          </p>
          <div class="text-muted">
            提问时间：2015-06-12 12:12:12
            <span class="label label-default">JavaScript</span>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="col-sm-6 text-center answer-count">
            <div>4</div>
            <div>回答</div>
          </div>
          <div class="col-sm-6 text-center">
            <div>6</div>
            <div>浏览</div>
          </div>
        </div>
      </div>
      <hr>
    <% end %>
  </div>
</div>


<div id="createDiscuss" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">新建话题</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="form-group">
            <label class="col-sm-2 control-label">标题</label>
            <div class="col-sm-9">
              <input type="email" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">系别</label>
            <div class="col-sm-9">
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">内容</label>
            <div class="col-sm-9">
              <textarea class="form-control" rows="9"></textarea>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-4 col-sm-offset-2 text-center">
              <button type="submit" class="btn btn-info">确认发布</button>
            </div>
            <div class="col-sm-5 text-center">
              <button  class="btn btn-danger">取消发布</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(function(){
    $("newCreateBtn").click(function(){
      $("#createDiscuss").modal();
    });
  });
</script>
