<a href="javascript:void(0)" class="btn btn-primary by-btn-bg"><strong>教学条件</strong></a>
<br><br>
<div class="container-fluid">
	<dl>
		<dt>1.校外实训基地</dt>
			<dd>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;“移动互联网”教学与实训培训中心建成具有iOS系统设计、开发、集成、测试实训功能，兼顾科研、培训一体的校内综合实训中心。建成具有iOS系统设计、开发、集成、测试实训功能，兼顾科研、培训一体的校内综合实训中心。建成具有iOS系统设计、开发、集成、测试实训功能，兼顾科研、培训一体的校内综合实训中心。建成具有iOS系统设计、开发、集成、测试实训功能，兼顾科研、培训一体的校内综合实训中心。建成具有iOS系统设计、开发、集成、测试实训功能，兼顾科研、培训一体的校内综合实训中心。建成具有iOS系统设计、开发、集成、测试实训功能，兼顾科研、培训一体的校内综合实训中心。建成具有iOS系统设计、开发、集成、测试实训功能，兼顾科研、培训一体的校内综合实训中心。建成具有iOS系统设计、开发、集成、测试实训功能，<br >
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;兼顾科研、培训一体的校内综合实训中心。建成具有iOS系统设计、开发、集成、测试实训功能，兼顾科研、培训一体的校内综合实训中心。建成具有iOS系统设计、开发、集成、测试实训功能，兼顾科研、培训一体的校内综合实训中心。建成具有iOS系统设计、开发、集成、测试实训功能，兼顾科研、培训一体的校内综合实训中心。建成具有iOS系统设计、开发、集成、测试实训功能，兼顾科研、培训一体的校内综合实训中心。
			</dd>
		<dd>
			<div class="col-md-6 text-center">
				<%= image_tag("course_3/shop1.png")%><br><br>
				学生在周大福新世界店顶岗实习
			</div>
			<div class="col-md-6 text-center">
				<%= image_tag("course_3/shop2.png")%><br><br>
				学生在渭塘珍珠城进行教学实习
			</div>
		</dd>
		<dt>2.校内实训基地</dt>
		<dd>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;“移动互联网”教学与实训培训中心建成具有iOS系统设计、开发、集成、测试实训功能，兼顾科研、培训一体的校内综合实训中心。建成具有iOS系统设计、开发、集成、测试实训功能，兼顾科研、培训一体的校内综合实训中心。建成具有iOS系统设计、开发、集成、测试实训功能，兼顾科研、培训一体的校内综合实训中心。建成具有iOS系统设计、开发、集成、测试实训功能，兼顾科研、培训一体的校内综合实训中心。建成具有iOS系统设计、开发、集成、测试实训功能，<br>
		</dd>
		<dd>
			1.“移动互联网”教学与<br>实训培训中心建成具有iOS系统设计、开发、集成、测试实训功能，兼顾科研、培训一体的校内综合实训中心。建成具有iOS系统设计、开发、集成、测试实训功能，兼顾科研、培训一体的校内综合实训中心。建成具有iOS系统设计、开发、集成、测试实训功能，兼顾科研、培训一体的校内综合实训中心。建成具有iOS系统设计、开发、集成、测试实训功能，兼顾科研、培训一体的校内综合实训中心。建成具有iOS系统设计、开发、集<br>
		</dd>
		<dd>
			2.“移动互联网”教学与实<br>训培训中心建成具有iOS系统设计、开发、集成、测试实训功能，兼顾科研、培训一体的校内综合实训中心。建成具有iOS系统设计、开发、集成、测试实训功能，兼顾科研、培训一体的校内综合实训中心。建成具有iOS系统设计、开发、集成、测试实训功能，兼顾科研、培训一体的校内综合实训中心。建成具有iOS系统设计、开发、集成、测试实训功能，兼顾科研、培训一体的校内综合实训中心。建成具有iOS系统设计、开发、集<br>

		</dd>	
		<dd>
			3.“移动互联网”教学与实<br>训培训中心建成具有iOS系统设计、开发、集成、测试实训功能，兼顾科研、培训一体的校内综合实训中心。建成具有iOS系统设计、开发、集成、测试实训功能，兼顾科研、培训一体的校内综合实训中心。建成具有iOS系统设计、开发、集成、测试实训功能，兼顾科研、培训一体的校内综合实训中心。建成具有iOS系统设计、开发、集成、测试实训功能，兼顾科研、培训一体的校内综合实训中心。建成具有iOS系统设计、开发、集成、测试实训功能，兼顾科研、培训一体的校内综合实训中心。建成具有iOS系统设计、开发<br>
		</dd>
		<dd>
			<div class="col-md-6 text-center">
				<%= image_tag("course_3/shop3.png")%><br><br>
				艾达珠宝店
			</div>
			<div class="col-md-6 text-center">
				<%= image_tag("course_3/shop4.png")%><br><br>
				贵金属首饰镶嵌制作实训室
			</div>
		</dd>
	</dl>
</div>