<a href="javascript:void(0)" class="btn btn-primary by-btn-bg"><strong>申报材料</strong></a>
<br><br>
<ul class="container-fluid">
  <li class="col-sm-12">
    <div class="col-sm-2">申报表</div>
    <div class="col-sm-6">
      <%= link_to "/docs/jingpinkechengshenqing.doc", class: "btn btn-primary" do %>
        <span class="glyphicon glyphicon-download-alt"> 点击下载精品课程申请表 </span>
      <% end %>
    </div>
  </li>
</ul>