<a href="javascript:void(0)" class="btn btn-primary by-btn-bg"><strong>教学条件</strong></a>
<br><br>
<div class="container-fluid">
	<dl>
		<dd>由于政府财政的逐年投入,该专业的校内实训基地建筑总面积将达近千平方米,设备200多套(台),价值500多万元,已成为集教学、培训、科研这一体的多功能实训基地。这也为《Java Web应用软件开发》课程的实训创造了优越的条件。</dd>
		<dt>1.重要的实验室 </dt>
		<dd><%= image_tag "java_course_condition.jpg", class: "img-responsive img-right"%></dd>
		<dd class="text-center">java软件开发集成环境实验室</dd>
		<dd>(1)Java软件开发实训平台实验室<br>机房内共45台PC机，如图1所示，安装了《J2EE和软件工程实训平台》。“J2EE与软件工程实训平台”将软件开发中的各种应用系统、数据资源和开发工具统一集成到一个管理平台之上，根据每个用户的岗位特点和角色的不同，形成个性化的应用界面，使用户可以快速适应标准化软件开发流程。学员只要通过统一入口，就可以访问相关案例实训信息和各个实训子任务，与其它学员交流协作，完成既定的实训任务。</dd>
		<dd>(2)Java软件开发集成环境实验室<br>机房内共42台PC机，安装Myeclipse开发环境和数据库系统，还有多媒体教学软件，满足本课程教学和实践要求。</dd>
		<dt>2.正在建设3个校内实训基地</dt>
		<dd>(1) “移动互联网”教学与实训培训中心<br>建成具有iOS系统设计、开发、集成、测试实训功能，兼顾科研、培训一体的校内综合实训中心。</dd>
		<dd>(2) 移动互联网软件开发教师工作室<br>供教师开发移动互联网项目和企业培训师资。</dd>
		<dd>(3)“移动互联网”多功能展示区<br>建成具有iOS系统设计、开发、集成、测试实训功能，兼顾科研、培训一体的校内展示区；企业、教师和学生开发的优秀软件成品在此展示。</dd>
	</dl>
</div>
