<dl>
  <dd class="entry-content-title"><span class="glyphicon glyphicon-triangle-bottom"></span> 社会认可度</dd>
  <div class="container-fluid">
    <dl>
      <dt>1．毕业生就业情况</dt>
      <div class="container-fluid">
        <dd>计算机应用技术专业创办于1999年，连续15年招生，已有毕业生一千余人。在校生154人。近三年来，连续三届毕业生就业率均为99%左右。</dd>
      </div>

      <dt>2．社会对毕业生评价</dt>
      <div class="container-fluid">
        <dd>1. 教学内容的组织</dd>
        <dd>我们通过对计算机专业近四年毕业生进行的跟踪问卷调查，随机发出调查表300份，收回近163份，跟踪反馈率为54%，其中40份是计算机应用技术专业近二届部分毕业生的汇总资料，企业评价我校计算机网络技术专业人才综合素质汇总如下：</dd>
        <dd>主要肯定：学生思想上要求进步，工作认真，基础知识扎实，爱岗敬业，能较好地完成领导交给的任务；团结同事，有很好的团队合作精神；有较强的业务能力、钻研肯干，职业技术能力过硬，有较强的动手能力； 诚实守信，任劳任怨，虚心上进。</dd>
        <dd>我们把表现优秀和良好的作为称职表现，据统计近二年计算机应用技术专业毕业生的平均称职率为96%。</dd>       
        <dd>毕业生跟踪调查得到了大部分用人单位的支持，从问卷情况分析，社会对我校计算机应用技术专业毕业生总体质量是满意的，这与学校平时加强职业教育，加强专业基础知识及职业技能的训练是分不开的。</dd>
      </div>

      <dt>3．竞赛情况</dt>
      <div class="container-fluid">
        <dd>2008年上海市计算机网页制作员（高级）竞赛中，有9名06级学生参加比赛，其中有6名学生获得计算机网页制作员高级证书，占总数67%。</dd>
        <dd>2009年上海市计算机网络技术员（高级）竞赛中，06级13位学生中二位得了二等奖、一位得了三等奖，10位得了优胜奖。</dd>
        <dd>2010年全国计算机程序员竞赛上海市赛区中，07级有一位学生得了二等奖、五位学生得了三等奖。</dd>
        <dd>2011年《全国职业院校技能大赛—信息安全技术应用》上海市赛区选拔赛中，08、09级10位学生参加比赛，获得了团体三等奖。</dd>
        <dd>2011年全国软件专业人才设计与开发大赛上海赛区中，二位学生荣获计算机C语言二等奖、三位学生荣获优胜奖。</dd>
        <dd>2012年“全国职业院校技能大赛”高职组计算机网络应用项目（上海赛区选拔赛）中三位学生（王立中、张敏、浦逸云）荣获二等奖。</dd>
        <dd>2012年“全国软件专业人才设计与创业大赛”高职高专JAVA软件开发项目（上海赛区）中，陈辉同学荣获一等奖，进入总决赛，二位学生获优胜奖。</dd>
        <dd>2013年“全国软件专业人才设计与创业大赛”高职高专JAVA软件开发项目（上海赛区）中，一名学生荣获一等奖，二名学生获三等奖，三名学生获优胜奖。</dd>
      </div>
    </dl>
  </div>

  <dd class="entry-content-title"><span class="glyphicon glyphicon-triangle-bottom"></span> 校外专家、行业企业专家、校内督导及学生评价</dd>
  <div class="container-fluid">
    <dl>
      <dt>校外专家评价</dt>
      <div class="container-fluid">
        <dt>上海大唐移动通信设备有限公司副总经理、软件高级工程师、硕士生导师张民对《iOS图形界面开发》课程的评价</dt>
        <dd>《iOS图形界面开发》课程是计算机应用技术专业的核心课程，上海新侨职业技术学院十分重视该课程的建设。他们在与企业六个共同建设专业的指导思想下，进行校企合作共同开发课程，保证了课程和行业、企业的紧密联系，体现了高素质高技能应用性人才培养的目标和计算机专业职业岗位的需求，同时又注重培养学生的职业技能和职业素养，取得了突出成绩。</dd>
        <dd>在师资队伍方面，该课程构建了一支老、中、青结合，专、兼职结合，素质较高的教师队伍。任课教师中“双师”素质教师和有企业经历的教师比例、专业教师中来自行业企业的兼职教师比例符合课程性质和教学实施的要求。通过聘请行业企业中具有相应高技能水平的专业人才担任本课程的兼职教师，使教学内容和教学过程紧贴企业发展实际要求，快速融入企业的最新信息和企业文化。</dd>
        <dd>在教学模式上的改革，体现了教学过程与生产过程对接，课程内容与职业标准对接：学习环境与实际环境的“零距离”（工作及开发环境）；教师与开发人员之间的“零距离”（资深工程师为教师）；训练项目与实际项目之间的“零距离”（项目及项目团队组织）；工作能力与用人企业用人要求的“零距离”（技能与素养）。</dd>
        <dd>本课程与企业深度合作，共同研发了教学实训平台，营造企业工作环境，再现企业项目开发真实过程，使学生亲身参与解决项目开发中的实际问题。零距离接触先进的国际开发理念与标准流程，提前进入工作实战状态，在实现知识技能进阶的同时直接增加工作经验，缩短理论与实践转换适应期。打破传统知识体系，以一个软件开发全过程为线索，将多门课程融合，包括图形界面设计思想，Objective-C编程技术，Socket、iCloud等网络连接技术，XML、JSON数据处理技术，Cocos2d游戏编程技术，Xcode、Interface Builder、iOS模拟器、调试器、Instruments等开发工具的使用。理论知识“马上用到”实际工作中，“够用就好”，提高学生的学习积极性。保证学生就业软件公司后，不需培训马上投入工作。</dd>
        <dd>在教学内容选取过程中，以职业素养和职业能力培养为核心，由校企共同开发按照行为导向的教学理念选取组织教学内容，充分体现职业性、实践性、开放性的要求；同时内容兼顾了知识、能力的可移植性，为学生可持续发展奠定良好基础。既体现了职业技能为本的现代职业教育思想，又能兼顾高职学生认知能力，适合于课堂教学，是一种具有高职特色的设计模式。</dd>
        <dd>在教学方法方面，以行为导向为基本教学方法，根据项目开发基本情况，灵活应用多种教学方法，教学过程注重工学结合和“教学做”理实一体化。实施“课堂、实训室、公司”三位一体的教学模式，依托学校“实训中心”集专业教学、产品研发、生产经营、社会服务、职业资格培训、鉴定、对外展示、交流的真实氛围，让学生“在工作中学习，学习的内容是工作”。使“中心”成为融“课堂、实训室、公司”为一体的新型“产、学、教”实训基地，成为课堂与市场的“桥梁”和三位一体教学模式必需的教学平台，使学生在校期间，基本完成由大学生到企业员工的身份转变，各种能力得到广泛锻炼，真正做到零距离与企业接轨。</dd>
        <dd>由于善于利用多媒体、网络等现代教育技术和虚拟现实技术等仿真教学环境和教学手段，促进教学质量的不断提高，既重视基础理论知识的传授，又重视学生职业能力和素质的培养，APP应用软件开发课程教学内容和“Java程序设计员”（三级/高级）职业技能资格考证紧密结合，合格率达到90%左右，收到了良好的教学效果。</dd>
        <dd>上海新侨职业技术学院的《iOS图形界面开发》课程符合精品课程的申报要求，特此推荐该课程申报2014年度高职高专上海市精品课程。</dd>
      </div>

      <dt>行业企业专家评价</dt>
      <div class="container-fluid">
        <dt>上海易晨信息科技有限公司总经理赵蕾先生对《iOS图形界面开发》课程的评价</dt>
        <dd>上海新侨技术职业学院《iOS图形界面开发》课程，具有很强的实践性，与移动互联网络软件开发实际紧密结合。体现了教学的“应用性、针对性、先进性”原则，是一套具有特色的教学系统及方法。通过本课程能够培养学生的综合能力，实践能力，创新工作能力。</dd>
        <dd>在本课程的设计过程中，《iOS图形界面开发》课程组的老师根据岗位技能的需要与我公司企业合作，共同探讨移动互联网络系统的“《iOS图形界面开发》”课程设计，理论联系实际，充分体现了行业专业人才培养的特色。</dd>
        <dd>根据我单位计算机应用的实际情况，我们注重该课程的学生实践动手能力和应用能力的培养，使学生毕业后很快就能胜任岗位的需求。在教学中适当增加对常用计算机软件操作系统的拆卸和安装，在讲述iOS操作系统的基本原理的基础上，在内容上力求突出实际应用能力培养，增加学生的实际操作能力和对APP应用软件开发的认识，从而增强学生对iOS图形界面各类控件的使用能力，模拟终端软件系统的维护能力和对故障的分析判断能力。上海新侨技术职业学院《iOS图形界面开发》课程组充分做到了这一要求，增加了以实验和动手为主要教学内容的课时，并不定期的与企业进行交流，共同探讨和解决移动互联网应用软件开发中出现的问题和解决方法。</dd>    <dd>由于新侨的毕业生在毕业前能获得《iOS图形界面开发》相关的高级职业技能资格证书，其中《iOS图形界面开发》课程为之打下扎实的基础，这些同学在进入企业岗位后就能直接上手，而无需进行长时间上岗前的培训，既为企业节约了成本，更为企业输送了合格合适的人才。</dd>
        <dd>我们企业推荐上海新侨技术职业学院《iOS图形界面开发》课程申报上海市市级精品课程。</dd>
      </div>

      <dt>校内教学督导组评价</dt>
      <div class="container-fluid">
        <dt>教学督导处处长朱建六对《iOS图形界面开发》课程的评价</dt>
        <dd>《iOS图形界面开发》课程是计算机应用技术专业核心课程,其教学团队是一支在年龄职称双师等方面结构合理的具有较高综合素质的队伍。这个教学团队经过多年的不懈努力,在教学上取得了显著的成绩。近三年，毕业生就业率在99%以上,学生参加全国高职高专软件人才设计与创业大赛中均获得了很好的成绩。</dd>
        <dd>由于政府财政的逐年投入,该专业的校内实训基地建筑总面积将达近千平方米,设备200多套(台),其中有72台是基于美国苹果公司iOS系统的MAC一体机，总价值500多万元,已成为集教学、培训、科研这一体的多功能实训基地。这也为《iOS图形界面开发》课程的实训创造了优越的条件。</dd>
        <dd>该专业有多家固定的校企合作单位,学生校外实训有保障,且这些单位热心帮助计算机应用技术专业的专业建设。由企业研发中心技术总监刘雄华优秀企业家协助主编的《iOS图形界面开发》及其配套的技能训练指导书等校本教材,经过多年的实践和探索已日趋完善。综上所述 《iOS图形界面开发》课程申请精品课程条件已经成熟。</dd>
        <dd>精品课程的定位具有前瞻性,设计理念符合高职高专学生的培养目标,教学内容遵循学生的认知规律和职业成长需要,教学方法体现在理实一体的“教、学、做、考”之中。同意该课程申报市级精品课程。</dd>
        <dt>计算机12级---范毅</dt>
        <dd>《iOS图形界面开发》是我们计算机应用技术专业的重要课程，把企业复杂、无序的工作任务转换为有序、有条理、适合于教学的教学项目。</dd>
        <dd>这门课分为理论和实践两部分。理论课时，老师将知识点作成PPT多媒体授课。清晰明了的讲课，精彩纷呈的展示，逐步将大家领入软件开发的领域。将知识深入浅出，使我们更加容易接受。实践则是采用实训平台，通过平台下发工作任务，完成后再进入下一个任务，任务的难度逐渐提升，在不知不觉中，我们完成了一个完整的项目，很有成就感。</dd>
        <dd>老师用真实的项目，真实的工作环境教学，通过循序渐进，由简到难的学习过程，来完成最终的工作任务。这样通过学习让我们可以很快适应工作岗位，对我们来说是非常重要的。</dd>
      </div>
    </dl>
  </div>
</dl>