<ul class="container-fluid">
  <br>
  <br>
  <%= link_to "/docs/2/jingpinkechengshenqing.doc", class: "btn btn-primary" do %>
    <span class="glyphicon glyphicon-download-alt"> 点击下载精品课程申请表 </span>
  <% end %>
</ul>