<div class="main-content">
  <% if @collect_course.blank? %>
    <div class="blank">没有收藏的课程</div>
  <% else %>
    <% @collect_course.each do |course|%>
      <div class='single-vedio-content col-xs-12'>
        <div class="vedio-content">
        <div class="image-wrapper" style="height: 230px; overflow: hidden;">
          <% unless course.image.present? && course.image.avatar.present? %>
            <%= link_to image_tag("course-show.png"), wechat_course_path(course.number), id: 'course-img', class: 'img', style: "height: 230px" if course.attachment %>
          <% else %>
            <%= link_to image_tag(course.try(:image).try(:avatar).url(:c_500_350)), wechat_course_path(course.number), id: 'course-img',class: 'img' if course.attachment %>
          <% end %>
        </div>
        <p class="description">
          <span class="pull-left section">
            <span class="title"><%= link_to truncate(course.name, length: 26), wechat_course_path(course.number) %></span>
          </span>
          <span class="pull-right">
            <span class="glyphicon glyphicon-star"></span>
            <%= course.get_likes(vote_scope: "collect").size %>人收藏
          </span>
        </p>
      </div>
      </div>
    <% end %>
  <% end -%>
</div>