<div class="navbar">
    <div class="bd" style="height: 100%;">
        <div class="weui_tab">
            <div class="weui_navbar">
                <div class="weui_navbar_item weui_bar_item_on">
                    我的提问
                </div>
                <div class="weui_navbar_item">
                    我的问答
                </div>
            </div>
            <div class="weui_tab_bd">
                
            </div>
        </div>
    </div>
</div>