@import "wechat_variables";
@import "bootstrap-sprockets";
@import "bootstrap";

html, body {
    height: 100%;
    -webkit-tap-highlight-color: transparent;

}

body, .page {
    background-color: $primaryBg;
}

body {
  a, a:link, a:visited, a:hover, a:active{
    text-decoration: none !important;
  }
  p {
    margin: 0;
  }
}

