@import "wechat_variables";

h3.logo, h3.logo small {
  color: $primaryBg;
  margin-top: 0rem;
}
h3.logo {
  font-size: 1rem;
}

body {
  line-height: 1.5;
}

.text-center {
  text-align: center;
}

// 图标
.icon.icon-form-name {
  width: 1.45rem;
  height: 1.45rem;
  background-image: image-url($iconBasePath + "i-form-name.png");
}

.icon.icon-form-password {
  width: 1.45rem;
  height: 1.45rem;
  background-image: image-url($iconBasePath + "i-form-password.png");
}