h3.logo, h3.logo small {
  color: #1a5aa0;
  margin-top: 0rem;
}
h3.logo {
  font-size: 1rem;
}

body {
  line-height: 1.5;
}

$iconBasePath: "wechat/icon/";
.icon.icon-form-name {
  width: 1.45rem;
  height: 1.45rem;
  background-image: image-url($iconBasePath + "i-form-name.png");
}

.icon.icon-form-password {
  width: 1.45rem;
  height: 1.45rem;
  background-image: image-url($iconBasePath + "i-form-password.png");
}