@import "wechat_variables";

// 课程列表
.wechat__courses__index {
  .main-content {
    .navbar {
      line-height: 30px;
      margin-bottom: 0px;
      .navbar-header {
        line-height: 50px;
        border-bottom: 1px solid rgb(158, 184, 213);
      }
      .serach-content {
        background-color: rgb(235, 245, 254);
        margin: 0 -15px;
        .serach-course {
          li {
            margin: 10px 0;
          }
          li a {
            color: #171717;
            padding:0;
          }
          li.active a {
            border: 3px solid rgb(106, 166, 229);
            margin: -3px 30px;
            border-radius: 10px;
            background-color: #fff;
            color: rgb(150, 192, 237);
          }
        }
      }
    }

    .single-vedio-content {
      background-color: rgb(241, 241, 241);
      .vedio-content {
        height: 280px;
        width: 100%;
        background-color: #fff;
        display: block;
        float: left;
        margin: 15px 0px;
        padding: 10px;
        border: solid #dfdede 1px;
        overflow: hidden;
        a.img {
          // width: 345px;
          height: 230px;
          display: block;
          overflow: hidden;
        }
        a.img img {
          width: 100%;
          -webkit-transition:all 0.25s ease-in-out;
          -moz-transition:all 0.25s ease-in-out;
          -o-transition:all 0.25s ease-in-out;
          -ms-transition:all 0.25s ease-in-out;
          transition:all 0.25s ease-in-out;
        }
        a.img:hover img {
          transform: scale(1.15,1.15);
          -webkit-transform:scale(1.15,1.15);
          -moz-transform:scale(1.15,1.15);
          -ms-transform:scale(1.15,1.15);
          -o-transform:scale(1.15,1.15);
        }
        .description{
          height: 26px;
          line-height: 26px;
          overflow: hidden;
          padding-left: 8px;
          padding-right: 8px;
          background-color: rgba(0,0,0,0.5);
          span.section {
            width: 50%;
          }
          label {
            font-size: normal;
          }
          a {
            color: #fff;
          }
        }
        .glyphicon-star {
          color: orange;
        }
      }
    }
  }
}

//课程详情页
.wechat__courses__show {
  .show-content{
    background-color: rgb(241, 241, 241);
    padding-bottom: 10px;
    .content1 {
      background-color: #fff;
    }
    .content2 {
      border-bottom: 1px solid rgb(208, 208, 208);
      background-color: #fff;
      margin-bottom: 20px;
      padding-bottom: 20px;
      .title-show {
        font-size: 18px;
        font-weight: 600;
        color: #000;
      }
      .course-show-hr {
        border:1px dashed rgb(180, 180, 180);
        margin-top: 8px;
        margin-bottom: 15px;
      }
      .description-content {
        p.course-description {
          font-size: 12px;
          color: rgb(54, 54, 54);
          padding-bottom: 15px;
          span.showmore {
            color: red;
            font-size: 14px;
            font-weight: 600;
          }
        }
      }
      .course-exam {
        a.exam {
          border: 3px solid #315FBE;
          margin: -3px 30px;
          border-radius: 2px;
          background-color: #315FBE;
          color: #fff;
          padding: 5px 20px;
        }
        #collectFont {
          color: rgb(154, 154, 154);
        }
      }
    }
    .content3 {
      text-align: center;
      margin-bottom: 10px;
      padding: 0 30px;
      .courses-sub {
        padding: 10px 10px;
        height: 140px;
        line-height: 70px;
        &.sub1 {
          border-bottom: 1px solid rgb(180, 180, 180);
          border-right: 1px solid rgb(180, 180, 180);
        }
        &.sub2 {
          border-bottom: 1px solid rgb(180, 180, 180);
        }
        &.sub3 {
          border-right: 1px solid rgb(180, 180, 180);
        }
      }
      a.wenjian {

      }
    }
  }  
}

//子课程、课程资料页
.wechat__courses__sub_course {
  .sub-courses-panel-group{
    padding: 20px 25px;
    a {
        color: #fff;
      }
    .sub-courses-tab {
      background-color: rgb(31, 92, 158);
    }
    .sub-courses-panel-body{
      padding-left: 25px;
      li.sub-course-li {
        border-bottom: 1px dashed rgb(180, 180, 180);
        padding-bottom: 3px;
        .sub-courses-title {
          color: #000;
        }
      }
    }
  }
}

//课程测试页
.wechat__courses__after_class_exams {
  .courses-list {
    padding: 20px 0;
    .text-lists {
      list-style-type:none;
      padding: 10px 15px;
      background-color: #fff;
      color: #000;
      margin: 14px 20px;
      border: 1px solid rgb(198, 198, 198);
      border-radius: 3px;
      .exam-edit {
        color: rgb(65, 181, 69);
      }
    }
  }
}




























