// 点击鼠标样式
.down {
	background-color: #eeeeee;
	display: block;
}
// 松开鼠标样式
.up {
	background-color: transparent;
	display: block;
}
// 公共样式
.mt0{
	margin-top: 0;
}
.p0{
	padding: 0;
}

.wechat__discusses__index {
}

.wechat__discusses__sorts {
	.sorts {
		padding-top: 20px;
		padding-left: 10px;
		.col-xs-6 {
	   	padding: 0 10px 10px 0;
	  }
		.item {
			text-align: center;
	    display: block;
	    background: #fff;
	    padding: 20px 0 30px;
	    border-radius: 3px;
	    border: solid 1px #e4e4e4;
	    color: #252525;
	    font-size: 16px;
	    img {
	    	margin: 0 auto 20px;
	    }
	  }
	}
}

.wechat__discusses__innovations, .wechat__discusses__show {
	.content{
		padding: 10px 0px 0;
		.cell {
			padding: 10px 10px 0;
			margin-top: 0;
			border-top: 1px solid #ddd;
			.media-body {
				.media-heading{
					font-size: 16px;
				}
				.two_line {
					display: -webkit-box;
					-webkit-box-orient: vertical;
					-webkit-line-clamp: 2;
					overflow: hidden;
				}
				p {
					margin-bottom: 5px;
				}
			}
		}
		.comment_form {
			margin: 5px 0;
		}
		.mcol {
			padding: 0;
		}
		.error {
			border: 1px solid red;
		}
	}

}

.wechat__discusses__learns {

}

.wechat__users__persion_discusses {
	.tab-content {
		.weui_tab_bd {
			padding-bottom: 0;
			.cell {
				margin-top: 0;
				padding: 10px 10px 0;
				border-bottom: 1px solid #ddd;
				.comment_time {
					padding-top: 10px;
				}
			}
		}
	}
}