@import "wechat_variables";
// 课程列表
.wechat__exams__new, .wechat__exams__show {
  .ceshi {
    padding: 0 -15px !important;
    div {
      background-color: rgb(31, 92, 158);
      padding: 15px 0 ;
      margin-bottom: 20px;
      color: #fff;
    }
  }
  .title-exam-content {
    margin-bottom: 20px;
    margin-top: 5px;
    .js-start-answer-question {
      margin-right: 28%;
    }
  }
  .question-content {
    width: 100%;
    padding-bottom: 80px;
    overflow:auto; /*需要的时候会出现滚动条*/
    overflow-y:auto; /*控制Y方向的滚动条*/
    .title {
      margin-bottom: 20px; 
    }
    .option {
      padding: 10px;
    }
    .answer-hr {
      border:1px solid rgb(31, 92, 158);
    }
    .right-answer {
      color: red;
      padding-left: 20px;
    }
  }
  .change-page {
    margin: 10px 0;
    background-color: rgb(251, 249, 254);
    padding-bottom: 20px;
    padding-top: 10px;
    position:absolute;
      left: center;
      bottom:0px;
    .btn {
      padding: 7px 23px;
      margin: 10px auto;
    }
  }
  .modal-content {
    .modal-header {
      background-color: rgb(31, 92, 158);
      .modal-title {

      }
    }
    .score-bg {
      .modal-body {
        background-color: #fff;
        li {
          margin: 8px auto;
        }
      }
    }
  }
}

.wechat__exams__show {
  .modal-content {
    .modal-header {
      background-color: rgb(31, 92, 158);
      .modal-title {
        color: #fff;
      }
    }
    .score-bg {
      background-color: #fff;
      .modal-body {
        li {
          margin: 8px auto;
          list-style-type:none;
          .blue-icon {
            padding-right: 10px;
            padding-bottom: 5px;
          }
          .text-danger {
            color: red;
          }
        }
        .modal-btn {
          margin: 20px auto;
        }
      }
    }
  }
}