@import "wechat_variables";

// 登录页面
.users__sessions__new {
  .page, .page-group {
    background: #e4e4e4;
  }
  .wechat-logo {
    padding-top: 0.8rem;
  }
  
  .wechat-login {
    margin-left:  1.4rem;
    margin-right: 1.4rem;
  }
  .card.login {
    border-radius: 0.6rem;
    margin: 0.7rem;
    background: #f8f8f8;
  }

  .list-block input {
    height: 2.65rem;
  }

  .button.button-submit {
    background: #1a5aa0;
  }

  // 错误提示
  .text-danger {
    margin-left: 0.9rem;
    color: red;
  }
}

//个人资料页面
.wechat__users__show {
  .top {
    background: $blueBg;
    .weui_media_bd, .weui_media_title, .weui_media_desc {
      color: #fff;
    }
    .weui_media_title {
      font-size: 15px;
    }
  }
  .buttons {
    padding: 30px 15px;
  }
}

// 个人资料编辑
.wechat__users__edit {
  .list-block {
    margin: 0;
  }
}

