@import "wechat_variables";

// 登录页面 && //密码修改页面
.users__sessions__new, .wechat__users__edit_password {
  .page {
    background: #e4e4e4;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  .wechat-logo {
    padding-top: 3rem;
    h3 {
      font-size: 2rem;
      color: $blueBg;
    }
    small {
      color: $blueBg;
    }
  }

  .wechat-login {
    padding: 20px;
    .changepass {
      padding: 0 30px
    }
    .form-control {
      height: 50px;
    }
    
    .buttons {
      padding-top: 20px;
    }
    .btn {
      height: 46px;
      width: 49%;
    }

    .btn-default {
      color: #fff;
      background: $blueBg;
      border-color: $blueBg;
    }

    .btn-info {
      color: #fff;
      background: #f53737;
      border-color: #f53737;
    }
  }

  // 错误提示
  .text-danger {
    margin-left: 0.9rem;
    color: red;
  }
}

//个人资料页面
.wechat__users__show {
  .top {
    background: $blueBg;
    .weui_media_bd, .weui_media_title, .weui_media_desc {
      color: #fff;
    }
    .weui_media_title {
      font-size: 15px;
    }
  }
  .buttons {
    padding: 30px 15px;
  }
}

// 个人资料编辑
.wechat__users__edit {
  .header {
    background: #fff;
    height: 40px;
    line-height: 20px;
    padding: 10px 20px;

    a {
      color: #0894ec;
      font-size: 16px;
    }
  }
  .navbar {
    min-height: 40px;
  }
  form {
    padding-top: 40px;
  }
 
  .base {
    margin-top: 0px;
  }
}

//我的测试页
.wechat__users__my_exams {
  .div-content {
    padding: 20px 0;
    .exams-panel-body {
      padding: 10px;
      .exam-name {
        margin-bottom: 10px;
        height: 26px;
        line-height: 26px;
        overflow: hidden;
        padding-left: 8px;
        padding-right: 8px;
        width: 100%;
        background-color: rgba(0,0,0,0.5);
        a {
          color: #fff;
        }
      }
      .score-detail > p {
        font-size: 12px;
        padding: 4px 0;
        .btn-text-check {
          background-color: rgb(31, 92, 158);
          padding: 4px 15px;
          color: #fff;
        }
      }
      .score-detail-right {
        padding-left: 15%;
      }
    }
  }
}



