<a href="javascript:void(0)" class="btn btn-primary by-btn-bg course-content-method-nav"><strong>网络教学资源和硬件环境</strong></a>
<a href="javascript:void(0)" class="btn course-content-method-nav"><strong>现代教学技术手段的应用</strong></a>
<a href="javascript:void(0)" class="btn course-content-method-nav"><strong>多种教学方法的运用</strong></a>
<a href="javascript:void(0)" class="btn course-content-method-nav"><strong>教学模式的设计与创新</strong></a>
<br><br>
<div class="contrainer-fluid course-content-method-div">
	<dl>
		<dt>1. 校园网网络硬件环境有力支撑教学</dt>
		<dd>校园网主干为千兆以太网、到桌面为百兆，拥有CERNET和电信两条出口和Internet的联接，如下图所示，提供了一个功能齐全、运行高效、使用灵活、易于扩展的校园网系统，保证了学生通过课程网站在线学习。</dd>
		<dd><%= image_tag "method1.gif", class:"img-responsive img-right"%></dd>
		<dd class="text-center">校园网拓扑图</dd>
		<dt>2. 网络教学平台有力辅助课堂教学</dt>
		<dd>本课程提供的网络教学平台提供了丰富的教学资源丰富，包括：多媒体课件、电子教案、实训指导书、习题库、试题库、站点推荐和参考资料等教学辅助资料。学生可以在如下图所示的校内电子阅览室进行在线学习。</dd>
		<dd><%= image_tag "method2.jpg", class:"img-responsive img-right"%></dd>
		<dd class="text-center">电子阅览室</dd>
	</dl>
</div>

<div class="contrainer-fluid course-content-method-div" style="display: none;">
	<dl>
		<dt>1．广泛采用多媒体技术</dt>
		<dd>多媒体设备充足，完全满足教学需要采用投影、幻灯片、白板、屏幕广播等方式教学，把课程集成为声音、图像为一体的教学资源，将抽象理论、复杂操作过程以图片、动画等形式生动化、形象化，增强教学感染力，使教学效果更加明显。</dd>
		<dt>２．工学结合的实训机房教学</dt>
		<dd>我院建立了移动互联网产学研基地，拥有近80台苹果一体机，多台ipad、iphone设备，作品展示厅，教师工作室等，为学生的实训提供了设备与场所，达到工学结合，提高教学质量，取得了实效。</dd>
		<dt>３．交互式、共享式软件应用</dt>
		<dd>在实训机房内，局域网、校园网畅通，利用各种交互,共享软件，如“多媒体教室”收发文件、广播屏幕等手段增强了师生之间的交流和资源的共享，提高了教学效率。</dd>
		<dt>４．项目化教学、模拟真实企业环境</dt>
		<dd>在实训项目的教学中3-5名学生成立一个学习小组，每个小组内部分工明确，真实模拟企业项目开发环境，培养学生的企业经历和职业素养，优化教学过程，教学质量显著提高。</dd>
		<dt>５．网络课程资源共享和现代通讯技术的应用</dt>
		<dd>为方便学生自主学习课程组为课程建设了课程网站，开辟了课程网络共享。此外，还利用E-mail、QQ、手机、电话等多种通讯途径为学生提供答疑指导。</dd>
	</dl>
</div>

<div class="contrainer-fluid course-content-method-div" style="display: none;">
	<dl>
		<dd>在教学过程中,以行为导向为基本教学方法，根据项目开发基本情况，灵活应用多种教学方法，教学过程注重工学结合和教学做一体化。<dd>
		<dt>1. 项目导向+任务驱动教学法</dt>
		<dd>这是基于工作过程的课程开发的必然选择，教学内容紧紧围绕职业岗位进行选取和重新序化，课程内容的教学载体是基于工作过程，融入了教学过程的软件项目的开发过程，教学过程就是完成项目的开发过程，以项目分解细化的学习子情景（工作任务）为驱动来组织每一次课的实施，此法避免了传统理论教学的空洞，枯燥和盲目性，能充分调动学生的学习积极性，培养学生的学习兴趣。</dd>
		<dt>2. 分组教学法</dt>
		<dd>在教学过程中，学生以3-5人成立一个学习小组，设置项目组长1人，组员分别担任程序员，文档员等角色；老师担任项目经理，引导各个小组编写文档，进行编码，测试和发布。各个小组分工协作，在规定时间完成任务或项目之后以小组为单位进行项目答辩。培养了学生的团队精神和沟通能力，同时也是本课程的过程考核与结果考核不可缺少的环节。</dd>
		<dt>3. 讨论教学法</dt>
		<dd>在行为导向教学过程第一步“任务决策”中， 教师并不把任务实施方案直接提出来，而是引导各小组学生，以讨论的形式提出各组观点，评价其优劣。此法能够活跃课堂气氛，培养学生沟通协作，思考和探索问题的能力。</dd>
		<dt>4. 问题教学法</dt>
		<dd>让学生带着问题主动的去学习，整个学习过程就是不断地发现问题和解决问题并发现更多新问题的过程，教师不仅要重视引导学生解决问题，也要引导学生发现问题。此法有很强的可操作性，能够促使学生成功解决问题之后会对问题所涉及的知识技能掌握更牢，理解更深。</dd>
	</dl>
</div>

<div class="contrainer-fluid course-content-method-div" style="display: none;">
	<dl>
		<dt>1. 建立以学生为主体的教学模式 </dt>
		<dd>近年来多媒体、投影仪在教师教学过程中的使用又逐渐把学生拉回来到了学习活动中的“观众”角色，教师在利用多媒体等设备展示大量信息的同时，很容易忽略了学生的接收情况。《iOS图形界面开发》课程的授课过程中建立以学生为主体的教学模式，教师的教学速度要与学生的知识掌握速度相一致，通过每次提问、课内外作业、实训的完情况及时调整教学内容。教学过程中每个重要的知识点完成后请学生公开演示，演示完成后由其他学生点评该演示过程的优点与不足，学生点评结束后由教师进行知识点的补充与完善，对于学生的每次演示与点评都要打分记录，作为该学生该课程最后的考评分数的重要依据，这样既可以提高学生的学习兴趣，又能让教师真实的掌握学生的学习情况，教师可根据学生学习的现状调整教学进度与教学内容，改进教学方法，进而提高教学质量。</dd>
		<dd>因此，在这种教学模式下，教师在教学中应起组织、引导、答疑的作用，从知识的传授者、教学的组织领导者转变成为学习过程中的咨询者、指导者，充分调动学生学习的能动性，使学生变被动学习为主动学习。</dd>
		<dt>2. 以学生为主体建立实践教学模式</dt>
		<dd>实践教学体系的构建，要紧扣我院培养高级应用型技术人才的主线，充分体现专业岗位的要求，与专业岗位群发展紧密相关，以此为原则组成一个层次分明、分工明确的实践教学体系。实践教学是应用型人才培训模式的核心环节，实践教学是学生认知的重要途径。《iOS图形界面开发》课程教学以学生为主体，以提高动手能力为宗旨，从建构课堂内外的实践教学环节入手，创新以学生为主体建立实践教学模式。</dd>
		<dd>《iOS图形界面开发》课程的实践教学过程与企业合作，紧密衔接市场需求，实施过程可分为三大步骤：第一步建立基础实验技能训练平台，第二步建立专业岗位技能训练平台，第三步建立专业岗位实践平台。逐渐激发学生对《iOS图形界面开发》课程的兴趣，循序渐进把我们的学生培养成适应社会岗位的高级应该型人才。</dd>
		<dd>改革实践教学环节的具体形式为：做好整个课程项目内容的设计，规范每一个项目的内容设计，制定完整的实训报告手册等。</dd>
	</dl>
</div>