<a href="javascript:void(0)" class="btn btn-primary by-btn-bg course-content-nav"><strong>教学内容的具体表现形式</strong></a>
<a href="javascript:void(0)" class="btn course-content-nav"><strong>教学内容的组织与安排</strong></a>
<br><br>
<div class="container-fluid course-content-div">
	<dl>
		<dt>1. 引入企业真实项目，编写校本教材</dt>
		<dd>为了使该课程内容的选择与市场需求更好的衔接，我系在学院领导的大力支持下与多家企业建立了校企合作关系，由于市面上与该课程相关的书籍极为匮乏，也没有与高职类学生学习相匹配的学习教材，我系与企业合作开发适合我院学生学习的校本教材，校本教材中大量融合优秀的、适合教学的企业项目。</dd>
		<dt>2. 与企业工程师编写校本实验、实训讲义</dt>
		<dd>我们根据学生实验、实训的具体情况，以职业岗位的具体要求为切入点、以项目为主线，以工作过程为导向，与统编教材相结合使用，既有创新，又有经典，满足了高职教育的理念要求。</dd>
		<dt>3. 其它教学资料齐全</dt>
		<dd>校企合作共同编写了实验、实训指导书、习题库和试题库、拓展训练、电子课件、电子教案教学资源等，并配合实训平台，方便学生课后进一步练习和操作，能够满足学生全方位对教学资源和学习资源的需求。</dd>
		<dt>4. 录制教学演示录像</dt>
		<dd>录制教学演示录像，供学生在线学习和观看，为学生自主学习提供平台。</dd>
		<dt>5. 建立满足课程教学需要的网络教学资源</dt>
		<dd>建设了符合课程设计要求并利于学生职业能力培养的教学资源，包括：多媒体课件、电子教案、实训报告手册、实验演示录像等，为学生的自主学习提供了丰富有效的资料。</dd>
	</dl>
</div>
<div class="container-fluid course-content-div" style="display: none;">
	<dl>
		<dt>1．教学内容的组织</dt>
		<dd>教学内容的组织以项目实践教学为主，通过项目实践的手段，真实再现企业iOS界面开发理念。教学内容组织过程中让学员自己通过对案例的理解与分析，以及在团队开发中的共同讨论，促使学员进入特定的iOS界面开发情景与过程，建立真实的开发环境和培养规范化的开发规范。</dd>
		<dd>实施过程：</dd>
		<dd>（1）项目选择和学生分组。以项目来划分项目组。建立对不同岗位需求与角色的认知，并以平时成绩平均安排每个小组的技术实力。</dd>
		<dd>（2）实践项目模拟企业真实的小型项目，这些项目真实且有社会效益，规模和难度适中，容易理解，可以激发学生的开发兴趣。</dd>
		<dd>（3）必要的理论合理的融入项目阶段需求进行讲授，同时分解项目的各项子任务进行练习，边学边练、学以致用，减少纯理论知识的讲解。</dd>
		<dt>2.教学内容的安排</dt>
		<dd>专业：计算机应用技术（移动互联网应用软件开发）</dd>
	</dl>
</div>