<a href="javascript:void(0)" class="btn btn-primary by-btn-bg"><strong>课程设计理念</strong></a>
<br><br>
<div class="container-fluid">
  <dl>
    <dt>1.课程设计的理念</dt>
    <dd>1.1 教学过程与企业用人要求对接，课程内容与职业标准对接</dd>
    <dd>学习过程与典型的工作过程的对接 </dd>
    <dd>教师与开发人员的对接</dd>
    <dd>训练项目与实际项目的对接</dd>
    <dd>工作能力与企业用人要求的对接</dd>
    <dd>1.2 基于岗位需求的人才培养</dd>
    <dd>根据不同岗位需求来培养学生，在课程的学习与实践过程中注重培养学生的职业岗位素质与能力。</dd><br>
    <dt>2.课程设计的思路</dt>
    <dd>本课程一直有学校专任教师和企业资深工程师合作授课。专任教师具有丰富的课堂教学经验，擅长于只是的讲解与传授，企业工程师非常了解市场对人才的需求，有丰富的实际工作经验，能够营造真实的企业工作环境，带领学生做真实的企业项目开发，更好的培养学生的职业能力。</dd>
    <dd>2.1为学生提供企业环境和项目开发……</dd>
  </dl>
</div>
<%= link_to "展开", "javascript:void(0)", class: "drop-down-arrow"%>