<dl>
  <dd class="entry-content-title"><span class="glyphicon glyphicon-triangle-bottom"></span> 教学条件</dd>
  <div class="container-fluid">
    <dl>
      <dd>我院建立了3个校内实训基地，拥有近80台苹果一体机，多台ipad、iphone设备，作品展示厅，教师工作室等。为该课程的实训创造了优越的条件。</dd>
      <dt>1．“移动互联网”教学与实训培训中心</dt>
      <dd>建成具有iOS系统设计、开发、集成、测试实训功能，兼顾科研、培训一体的校内综合实训中心。</dd>
      <dt>2．移动互联网软件开发教师工作室</dt>
      <dd>供教师开发移动互联网项目和企业培训师资。</dd>
      <dt>3．“移动互联网”多功能展示区</dt>
      <dd>建成具有iOS系统设计、开发、集成、测试实训功能，兼顾科研、培训一体的校内展示区；企业、教师和学生开发的优秀软件成品在此展示。</dd>
    </dl>
  </div>
</dl>