<a href="javascript:void(0)" class="btn btn-primary by-btn-bg"><strong>网络教学资源和硬件环境</strong></a>
<a href="javascript:void(0)" class="btn"><strong>现代教学技术手段的应用</strong></a>
<a href="javascript:void(0)" class="btn"><strong>多种教学方法的运用</strong></a>
<a href="javascript:void(0)" class="btn"><strong>教学模式的设计与创新</strong></a>
<br><br>
<div class="contrainer-fluid">
	<dl>
		<dt>1. 校园网网络硬件环境有力支撑教学</dt>
		<dd>校园网主干为千兆以太网、到桌面为百兆，拥有CERNET和电信两条出口和Internet的联接，如下图所示，提供了一个功能齐全、运行高效、使用灵活、易于扩展的校园网系统，保证了学生通过课程网站在线学习。</dd>
		<dd><%= image_tag "method1.gif", class:"img-responsive img-right"%></dd>
		<dd class="text-center">校园网拓扑图</dd>
		<dt>2. 网络教学平台有力辅助课堂教学</dt>
		<dd>本课程提供的网络教学平台提供了丰富的教学资源丰富，包括：多媒体课件、电子教案、实训指导书、习题库、试题库、站点推荐和参考资料等教学辅助资料。学生可以在如下图所示的校内电子阅览室进行在线学习。</dd>
		<dd><%= image_tag "method2.jpg", class:"img-responsive img-right"%></dd>
		<dd class="text-center">电子阅览室</dd>
	</dl>
</div>