<h5 class="entry-content-title"><span class="glyphicon glyphicon-triangle-bottom"></span>毕业生就业情况</h5>
计算机应用技术专业创办于1999年，连续15年招生，已有毕业生一千余人。在校生154人。近三年来，连续三届毕业生就业率均为99%左右。
<h5 class="entry-content-title"><span class="glyphicon glyphicon-triangle-bottom"></span>社会对毕业生评价</h5>
我们通过对计算机专业近四年毕业生进行的跟踪问卷调查，随机发出调查表300份，收回近163份，跟踪反馈率为54%，其中40份是计算机应用技术专业近二届部分毕业生的汇总资料，企业评价我校计算机网络技术专业人才综合素质汇总如下：

主要肯定：学生思想上要求进步，工作认真，基础知识扎实，爱岗敬业，能较好地完成领导交给的任务；团结同事，有很好的团队合作精神；有较强的业务能力、钻研肯干，职业技术能力过硬，有较强的动手能力； 诚实守信，任劳任怨，虚心上进。

我们把表现优秀和良好的作为称职表现，据统计近二年计算机应用技术专业毕业生的平均称职率为96%。

毕业生跟踪调查得到了大部分用人单位的支持，从问卷情况分析，社会对我校计算机应用技术专业毕业生总体质量是满意的，这与学校平时加强职业教育，加强专业基础知识及职业技能的训练是分不开的。
<h5 class="entry-content-title"><span class="glyphicon glyphicon-triangle-bottom"></span>竞赛情况</h5>


2008年上海市计算机网页制作员（高级）竞赛中，有9名06级学生参加比赛，其中有6名学生获得计算机网页制作员高级证书，占总数67%。

2009年上海市计算机网络技术员（高级）竞赛中，06级13位学生中二位得了二等奖、一位得了三等奖，10位得了优胜奖。

2010年全国计算机程序员竞赛上海市赛区中，07级有一位学生得了二等奖、五位学生得了三等奖。

2011年《全国职业院校技能大赛—信息安全技术应用》上海市赛区选拔赛中，08、09级10位学生参加比赛，获得了团体三等奖。

2011年全国软件专业人才设计与开发大赛上海赛区中，二位学生荣获计算机C语言二等奖、三位学生荣获优胜奖。

2012年“全国职业院校技能大赛”高职组计算机网络应用项目（上海赛区选拔赛）中三位学生（王立中、张敏、浦逸云）荣获二等奖。

2012年“全国软件专业人才设计与创业大赛”高职高专JAVA软件开发项目（上海赛区）中，陈辉同学荣获一等奖，进入总决赛，二位学生获优胜奖。

2013年“全国软件专业人才设计与创业大赛”高职高专JAVA软件开发项目（上海赛区）中，一名学生荣获一等奖，二名学生获三等奖，三名学生获优胜奖。
