<nav class="navbar navbar-default nav-left">
 <p class="text-primary self-info"><strong>个人中心</strong></p>

  <ul class="nav nav-pills nav-stacked center-block">
    <li><%= link_to "我的课程", "#{}" %></li>
    <li class=""><a href="#">我的考试</a></li>
    <li class=""><a href="#">成绩查询</a></li>
    <li class=""><a href="#">我的收藏</a></li>
    <li class=""><a href="#">我的问答</a></li>
    <li class=""><a href="#">讨论中心</a></li>
    <li class="active"><%= link_to "我的账户", user_index_path %></li>
  </ul>
</nav>