
var specialty_option = "<option>请选择专业</option>";
<% @specialties.each do |s| %>
	specialty_option = specialty_option + "<option value='<%= s[1]%>'><%= s[0]%></option>"
<% end %>

$("#common_specialty_id").html(specialty_option);

$("#common_grade_id").html("<option>请选择班级</option>");

