<div class="row">

  <div class="col-md-2" role="complementary">
	<%= render :partial => "nav_left" %>
  </div>

  <div class="col-md-10">
    <div class="row common-info">
      <%= render :partial => "base_info" %>
	</div>

	<div class="row self-main-context">
	
	</div>
  </div>

</div>