<%- @courses.each do |course|%>
  <div>
	  <%= link_to courses_show_path(number: course.number) do%>
	  <%= course.name%>
	  <%= course.description%>
	  <%= course.content%>
  <%end%>
  </div>

 <%end%>