@import "bootstrap-sprockets";
@import "bootstrap";

body.devise__sessions__new{
	hr { border: 1px #ffffff dashed;
		border-bottom: 0;border-right:0;
    border-left:0;
  }

	.login-bg {
		position: relative;
		img{
		  width: 100%;
		}
	}
	.login-form {
		position: absolute;
		left: 0;
		top: 130px;
	}
	.btn-100 {
		width: 100%;
	}
	.logo {
		background: image-url("logo.jpg") no-repeat left top;
	}
	.btn-md { 
		/* 中按钮*/  
		padding: 8px 12px;  
		font-size: 18px;  
		line-height: 1.5; 
		border-radius: 3px; 
	}
	.pad-top-bot-10 {
	 	padding-top: 10px;padding-bottom: 10px;
	}
	.pad-top-bot-20 {
	 	padding-top: 20px;padding-bottom: 20px;
	}
	.mar-top-bot-10 {
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.mar-top-bot-20 {
		margin-top: 20px;
		margin-bottom: 20px;
	}
	footer {
	 	padding-top: 20px;
	}
}

/*轮播图片大小*/
.main-home-header {
	img.carousel-image {
		width: 100%;
	}
	.buoyan-tec-carousel {
    bottom: -30px;
    li{
    	height: 5px;
    	width: 50px;
    	background: #8d9d9d;
    	border-radius: none;
    	-webkit-border-radius: none;
    	-o-border-radius: none;
    	&.active {
    	background: #5bcadb;
    	margin-bottom: 1px;
    }
    }
	}
}