@import "bootstrap-sprockets";
@import "bootstrap";
/*全局*/
.wrapper {
	width: 1200px;
	margin: 0 auto;
	overflow: hidden;
}

body {
  background: #ebebeb;
}

footer {
  background: #1a5aa0;
  color: #fff;
  margin-top: 34px;
  .footer-content {
    padding: 26px 0 38px 0;
  }
}
/*导航栏*/
.main-nav {
  width: 100%;
  background: #fff;
}
body.devise__sessions__new,body.devise__registrations__new,body.devise__registrations__create { 
	hr { border: 1px #ffffff dashed;
		border-bottom: 0;border-right:0;
    border-left:0;
  }

	.login-bg {
		position: relative;
		img{
		  width: 100%;
		}
	}
	.login-form {
		position: absolute;
		left: 0;
		top: 130px;
	}
	.btn-100 {
		width: 100%;
	}
	.logo {
		background: image-url("logo.jpg") no-repeat left top;
	}
	.btn-md { 
		/* 中按钮*/  
		padding: 8px 12px;  
		font-size: 18px;  
		line-height: 1.5; 
		border-radius: 3px; 
	}
	.pad-top-bot-10 {
	 	padding-top: 10px;padding-bottom: 10px;
	}
	.pad-top-bot-20 {
	 	padding-top: 20px;padding-bottom: 20px;
	}
	.mar-top-bot-10 {
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.mar-top-bot-20 {
		margin-top: 20px;
		margin-bottom: 20px;
	}
}

/*网站首页*/
body.home__index {
  .main-content {
   background: #fff;
   padding: 20px;
  }
  section.common-title {
  	height: 60px;
  	line-height: 60px;
  	padding: 0 16px 0 60px;
    margin-top: 20px;
  	background: image-url('title-bg.png') no-repeat 8px 15px;
  	span.pull-left {
  		font-size: 24px;
  		font-weight: bold;
  		color: #070707;
  	}
  	span.pull-right {
  		color: #669ad3;
      a.more {
        width: 55px;
        height: 60px;
        line-height: 60px;
        display: block;
        background: image-url('more.png') no-repeat center right;
      }
  	}
  }
  section.department-tabs {
    overflow: hidden;
    width: 100%;
    height: 30px;
    padding: 0 8px;
    span a {
      width: 138px;
    	height: 30px;
    	line-height: 30px;
      text-align: center;
    	display: block;
    	float: left;
    	color: #070707;
    	background: image-url("tabs-bg.png") no-repeat 0 0;
      border-bottom: 2px solid #6599d2;
      &.first-tab {
        width: 82px;
        background: image-url("ftab-bg.png") no-repeat 0 0;
        &.factive, &:hover {
          background: image-url("ftab-active.png") no-repeat -2px 0;
          color: #fff;
          text-decoration: none;
        }
      }
    	&.active, &:hover {
    	  color: #fff;
    		background: image-url("tabs-active-bg.png") no-repeat 0 0;
        text-decoration: none;
    	}
    }
  }
  .single-vedio-content {
    .vedio-content {
      height: 320px;
      width: 370px;
      display: block;
      float: left;
      margin: 10px 8px;
      padding: 10px;
      border: solid #dfdede 1px;
    	overflow: hidden;
    	p.title  a {
    		height: 30px;
    		line-height: 30px;
    		color: #070707;
    		font-size: 16px;
    		overflow: hidden;
    	}
    	p.description{
        height: 26px;
        line-height: 26px;
        overflow: hidden;
        a {
          color: #5d5d5d;
          display: block;
          width: 200px;
          overflow: hidden;
        }
        a.favorite {
          width: 148px;
          text-align: right;
          background: image-url('shoucang.png') no-repeat 46px 5px;
        }
      }
    }
  }
  .info-teachers-content {
    height: 220px;
    overflow: hidden;
  }
  .teacher-content {
  	width: 170px;
    margin: 0 31px;
  	height: 220px;
  	float: left;
    overflow: hidden;
  	position: relative;
    img {
      -webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.75);
      -moz-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.75);
      box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.75);
    }
  	p {
  		height: 26px;
  		width: 100%;
  		line-height: 26px;
  		color: #fff;
  		text-align: center;
  		background: #000;
  		position: absolute;
  		bottom: -8px;
  		opacity: 0.5;
      display: none;
  	}
  }

  .control-wrap a.prev {
    height: 188px;
    width: 48px;
    display: block;
    border: solid 1px #eee;
    position: absolute;
    left: 14px;
    text-indent: -9999px;
    background: url("arrow-bg") no-repeat 7px center;
  }
  .control-wrap a.next {
    height: 188px;
    width: 48px;
    display: block;
    border: solid 1px #eee;
    position: absolute;
    right: 20px;
    text-indent: -9999px;
    background: url("arrow-bg") no-repeat -60px center;
  }
  .info-school-content {
  	height: 188px;
    padding: 0 13px;
  	overflow: hidden;
    position: relative;
  	.school-content {
	  	width: 249px;
	  	height: 186px;
	  	float: left;
      margin: 0 10px;
      overflow: hidden;
	  }
  }
  .xc-slider .item img {
  	float:left;
  	margin: 0 5px;
  }
  .slide-content{
    width: 1078px;
    overflow: hidden;
    float: left;
  }
}

/*大轮播图片大小*/
.main-home-header {
	img.carousel-image {
		width: 100%;
	}
	.buoyan-tec-carousel {
    bottom: -30px;
    li {
    	height: 5px;
    	width: 50px;
    	background: #8d9d9d;
    	border-radius: none;
    	-webkit-border-radius: none;
    	-o-border-radius: none;
    	&.active {
    	background: #5bcadb;
    	margin-bottom: 1px;
    }
    }
	}
}
/*小轮播图的样式*/
.xc-carousel {
  height: auto;
  position: relative;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      margin: 0;
      padding: 0;
      float: left;
      display: block;
    }
    img {
      width: 100% !important;
      height: auto !important;
      -webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.75);
      -moz-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.75);
      box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.75);
      margin: 10px 0;
    }
  }
  .nav {
    display: block;
    width: 4%;
    height: 100%;
    float: left;
    text-indent: -9999px;
  }
  .prev { height: 182px;
    width: 48px;
    display: block;
    border: solid 1px #eee;
    position: absolute;
    left: 8px;
    text-indent: -9999px;
    background: #fff image-url("arrow-bg") no-repeat 7px center;
    z-index: 9999;
  }
  .next { height: 182px;
    width: 48px;
    display: block;
    border: solid 1px #eee;
    position: absolute;
    right: 8px;
    text-indent: -9999px;
    z-index: 9999;
    background: #fff image-url("arrow-bg") no-repeat -60px center;
  }
  .carousel_items_holder { background: #fff;
    width: 92%;
    overflow: hidden;
    float: left;
    left: 70px;
    height: 100%;
    position: relative;
  }
  .carousel_items {
    position: absolute;
  }
}