// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.user__index, body.user__show, body.user__update {

  nav { 
	  text-align: center; 
    
    p.self-info{
      line-height: 30px;
      border-top: 5px solid #337ab7;
      border-bottom: 5px solid #337ab7;
      margin-bottom: 30px;
    }

    li {
      a {
       color: #000;
      }
    }

  }

  table {
  	tr {
  	  td {
  	   padding: 2px;
  	   border: 0px;
  	  }
  	}
  }


  .gray-line {
  	border-left: 1px solid #dcdcdc; 
  	height: 140px;
  	padding: 5px;

  }

  .div-frame {
    border: 1px solid #dcdcdc;
  }


  .nav-tabs {
    border-bottom: 3px solid #337ab7;

    li {
      margin-bottom: -3px;
    }

    li.active {

      a {
        border: 3px solid #337ab7;
        border-bottom-color: transparent;
      }
    }
  }

  .div-form {
    padding: 20px;
  }

  .radio-inline {
    padding-left: 0px;
    padding-right: 15px;
  }

  .self-main-context {
   margin-top: 20px;
   background: #fff;
   padding-top: 20px;
   padding-lef: 15px;
  }

  .common-info {
    background: #fff;
    padding-top: 20px;
  }


  .navbar-left {
    background-color: #fff;
  }


	
}
