@import "bootstrap-sprockets";
@import "bootstrap";
@import "variable";
body.sub_courses__show  {
	background-color:#ebebeb;
  .video_page {
    margin-left:15px;
  }
  .video_blank {
    width:40px;
  }
  .videoplayer  {
    background-color:#fff;
    .video {
      padding-top:15px;
      margin-left:-15px;
      width:780px;
    }
    .collect {
      background-color:#434343;
      padding:10px 0;
      margin:1px 40px 10px 0;
      .glyphicon-heart {
        color:red;
      }
      .glyphicon-star {
        color:yellow;
      }
      .collectword  {
        padding-left:5px;
        color:#fff;
        font-size:15px;
      }
    }
  }
.video_lists {
 background-color:#fff;
 padding-bottom:10px;
 padding-left:25px !important;
 .list_title {
  margin:10px 0 0 -15px;
}
.video_lists_win {
  padding:12px 0;
}
.photo2 {
  width:80%;
}
}
.video_comment  {
  background-color:#fff;
  margin-top:40px;
  padding-top:10px;
}
.video_member   {
  background-color:#fff;
  margin-top:40px;
  padding-top:10px;
}
.comment_date {
  font-size: 13px;
  line-height: 14px;
  color: #6b6b6b;
}
.comment_reply {
 border-radius:18px;
 margin-left:10px;
 width:60px;
}
.online_number {
  color:red;
}
.course-and-score {
  a {
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    width: 40%;
    float: left;
    display: block;
    &.course {
      background: #1a5aa0;
    }
    &.score {
      background: #edc628;
    }
  }
}
.comment_tab {
  width:20%;
  margin-left:18px;
  margin-top:20px;
  border-radius:8px;
  font-size: 18px;
  font-weight: bold;
}
.comment_text {
  margin:40px 0;
}
.submit_btn {
  border-radius:0;
  width:18%;
  margin-right:8px;
  font-size: 18px;
  font-weight: bold;
}



}
