<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">测试结果</h4>
      </div>
      <div class="modal-body">
        <ul>
          <li>最终成绩：<%= @exam.total_score %>分</li>
          <li>总分：100分</li>
          <li>
            <span>答对题数：</span>
            <span>分别是：</span>
          </li>
          <li>
            <span>答错题数：</span>
            <span>分别是：</span>
          </li>
          <li>
            <span>未答题数：</span>
            <span>分别是：</span>
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
      </div>
    </div>
  </div>
</div>