<div class="main-content">
  <section class="common-title">
    <span class="pull-left">考试中心</span>
  </section>

  <ul class="nav nav-pills discuss-menu">
    <li class="active"><%= link_to("即将开始", "#") %></li>
    <li><%= link_to("正在进行", "#") %></li>
    <li><%= link_to("已结束", "#") %></li>
    <li class="navbar-right create-discuss">
      <a id="newCreateBtn" href="javascript:void(0);"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>新建考试</a>
    </li>
  </ul>

  <div id="examList" class="exams-list">
    <table class="table table-bordered">
      <tr>
        <th>系别</th>
        <th>专业</th>
        <th>考试科目</th>
        <th>考试内容</th>
        <th>考试时间</th>
        <th>编辑</th>
      </tr>
      <% (1..10).each do |i| %>
      <tr>
        <td>计算机信息系</td>
        <td>计算机科学与技术</td>
        <td>计算机信息技术期末考试</td>
        <td>计算机信息技术期末考试考试内容</td>
        <td>2015-06-17至2015-06-22</td>
        <td align="center"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span></td>
      </tr>
      <% end %>
    </table>
  </div>
</div>


<div id="createDiscuss" class="modal fade">
  <div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">新建考试</h4>
    </div>
    <div class="modal-body">
      <form class="form-horizontal">
        <div class="form-group">
          <label class="col-sm-3 control-label">考试科目</label>
          <div class="col-sm-8">
            <input type="text" class="form-control">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">学院系别</label>
          <div class="col-sm-8">
            <select class="form-control">
              <option></option>
              <option>计算机信息系</option>
              <option>珠宝系</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">专业</label>
          <div class="col-sm-8">
            <select class="form-control">
              <option></option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">考试班级</label>
          <div class="col-sm-8">
            <select class="form-control">
              <option></option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">考试开始时间</label>
          <div class="col-sm-8">
            <input type="text" class="form-control">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">考试结束时间</label>
          <div class="col-sm-8">
            <input type="text" class="form-control">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">考试内容</label>
          <div class="col-sm-8">
            <textarea class="form-control" rows="5">
              
            </textarea>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-4 col-sm-offset-2 text-center">
            <button class="btn btn-info">确认发布</button>
          </div>
          <div class="col-sm-5 text-center">
            <button class="btn btn-danger">取消发布</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
</div>

<script type="text/javascript">
  $(function(){
    $("#newCreateBtn").click(function(){
      $("#createDiscuss").modal();
    });
  });
</script>
