<footer class="navbar-fixed" align="center">
  <div class="footer-content text-center">
    <p><%= link_to "关于我们", "http://www.buoyantec.com/abouts/company", target: "blank" %> | <%= link_to "联系我们", "http://www.buoyantec.com/abouts/job", target: "blank" %></p>
    <p>Copyright©2015 大唐邦彦（上海）信息技术有限公司</p>
  </div>
</footer>