<% flash.each do |key, value| %>
    <% if value.present? %>
        <div class="notification <%= key%>">
          <p class="leftP alert_<%= key%>"></p>
          <p class="alertContent"><%= value%></p>
        </div>
    <% end %>
  <% end %>