<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators buoyan-tec-carousel">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag "banner1.jpg", class: "img-responsive carousel-image", alt: "上海工商职业技术学院"%>
    </div>
    <div class="item">
      <%= image_tag "banner2.jpg", class: "img-responsive carousel-image", alt: "上海工商职业技术学院"%>
    </div>
    <div class="item">
      <%= image_tag "banner3.jpg", class: "img-responsive carousel-image", alt: "上海工商职业技术学院"%>
    </div>
  </div>
</div>