.apply_courses__index{
	.apply{
		background-color: #fff;
		padding: 20px;
		.apply-tab{
			margin: 20px 0;
			.tab-content{
				padding: 0 10px;
				padding-bottom: 20px;
				border: 1px solid #E5E5E5;
				border-top: none;
			}
			.item > li{
			}
			.apply-nav{
				padding: 6px 0;
				font-size: 12px;
			}
			.apply-item{
				padding: 20px 0;
				border: 1px solid #E5E5E5;
				border-radius: 5px;
				margin-bottom: 10px;
			}
		}
	}
}
