/*考试中心*/
.exams__index, .papers__index, .papers__new, .papers__create, .papers__edit, .papers__update, .user_papers__detail,
.papers__show, .papers__questions, .papers__import, .papers__students, .user_papers__new, .answers__new, .user_papers__edit {
  section.common-title {
    height: 60px;
    line-height: 60px;
    padding: 0 16px 0 60px;
    margin-top: 20px;
    background: image-url('title-bg.png') no-repeat 8px 15px;
    span.pull-left {
      font-size: 24px;
      font-weight: bold;
      color: #070707;
    }
    span.pull-right {
      color: #669ad3;
      a.more {
        width: 55px;
        height: 60px;
        line-height: 60px;
        display: block;
        background: image-url('more.png') no-repeat center right;
      }
    }
  }

  .main-content {
    padding: 20px 30px;
    background: #fff;
    .serach-content {
      .serach-name {
        padding-top: 5px
      }

      .serach-course {
        li a {
          color: #171717;
          padding: 5px 25px;
        }
        li.active a {
          background-color: #6499d3;
          padding: 5px 25px;
          color: #fff;
        }
      }
    }

    .impport-table {
      padding: 20px;
      tr td {
        vertical-align: middle;
        border: none;
      }
    }

    //讨论中心菜单栏
    ul.discuss-menu {
      background-color: #6a94c1;
      padding: 0px 74px;

      li {
        padding-top: 10px;

        a {
          color: #fff;
        }

        a:hover {
          color: #6a94c1;
          background-color: #fff;
          border-radius: 0px;
        }

        &.active {
          a {
            background-color: #fff;
            color: #6a94c1;
            border-radius: 0px;
          }
        }

        &.create-discuss {
          padding: 5px 0px;
          a, a:hover {
            background-color: #fff;
            border-radius: 16px;
            color: #6a94c1;
          }
        }
      }
    }

    //考试列表
    .exams-list{
      table {
        tr th {
          text-align: center;
        }
        .glyphicon-log-in {
          color: #25aa0b;
        }
      }
    }
  }

  //新建话题模态框
  #createDiscuss {
    .modal-dialog {
      margin: 100px auto;
    }
    .modal-header {
      background-color: #6a94c1;
      color: #fff;
      padding: 10px 30px;
    }
  }


}