@import "variable";

body {
  background: #ebebeb;
}

button, p, a, h1, h2, h3, h4, h5, h6, form, ul, li {
  margin: 0;
  padding: 0;
}

ul, li {
  list-style: none;
}

a, a:hover {
	text-decoration: none;
}

form {
  display: inline;
}

.by-btn-bg {
	color: #fff!important;
	background: $main-color!important;
}