.papers__questions {
  .questions-list {
    border: 1px solid #eee;
    padding: 20px;
  }
  .questions, .header {
    padding: 20px;
    p {
      line-height: 1.8;
    }
  }

  h2 {
    margin-bottom: 20px;
  }

  .option {
    padding: 10px;
    p {
      line-height: 1.8;
    }
  }
  
}

.papers__students {
  .header {
    padding-bottom: 10px;
    h4 {
      line-height: 2;
    }
  }

  #addGrade {
    .modal-dialog {
      margin: 150px auto;
    }
    .modal-header {
      background-color: #6a94c1;
      color: #fff;
      padding: 10px 30px;
    }
  }
}


.user_papers__new {
  .header {
    padding-top: 10px;
    padding-bottom: 20px;
  }
}